<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= pageTitle %></title>
        <link rel="stylesheet" href="/css/main.css">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        >
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        />
</head>
<body>
    <div class="backdrop"></div>
        <header class="main-header">
            <button id="side-menu-toggle">Menu</button>
            <nav class="main-header__nav">
                <ul class="main-header__item-list">
                    <li class="main-header__item">
                        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Trang chủ</a>
                    </li>
                    <% if (isAuthenticated) { %>
                    <li class="main-header__item">
                        <a class="<%= path === '/attendance' ? 'active' : '' %>" href="/attendance">Điểm danh</a>
                    </li>
                    <li class="main-header__item">
                        <a class="<%= path === '/staff-info' ? 'active' : '' %>" href="/staff-info">Thông tin cá nhân</a>
                    </li>
                    <li class="main-header__item">
                        <a class="<%= path === '/work-info' ? 'active' : '' %>" href="/work-info">Thông tin giờ làm</a>
                    </li>
                    <li class="main-header__item">
                        <a class="<%= path === '/covid-info' ? 'active' : '' %>" href="/covid-info">Thông tin Covid cá nhân</a>
                    </li>
                    <% } %> <% if (role === 'admin' ) {%>
                    <li class="main-header__item">
                        <a class="<%= path === '/admin/staff' ? 'active' : '' %>" href="/admin/staff">Quản Lý Nhân Viên</a>    
                    </li>
                    <%} %>
                </ul>
                <ul class="main-header__item-list login-out" >
                    <% if (!isAuthenticated) { %>
                    <li class="main-header__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Đăng Nhập</a>
                    </li>

                    <% } else { %>
                    <li class="main-header__item login-out" style="float:right" >
                    <form action="/logout" method="POST">
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                        <button type="submit">Đăng Xuất</button>
                    </form>
                    </li>
                    <% } %>
                </ul>
            </nav>
        </header>

        <nav class="mobile-nav">
            <ul class="mobile-nav__item-list">
                <li class="mobile-nav__item">
                    <a class="<%= path === '/' ? 'active' : '' %>" href="/">Trang chủ</a>
                </li>
                <% if (isAuthenticated) { %>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/attendance' ? 'active' : '' %>" href="/attendance">Điểm danh</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/staff-info' ? 'active' : '' %>" href="/staff-info">Thông tin cá nhân</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/time-info' ? 'active' : '' %>" href="/time-info">Thông tin giờ làm</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/covid-info' ? 'active' : '' %>" href="/covid-info">Thông tin Covid cá nhân</a>
                </li>
                <% } %> <% if (role === 'admin' ) {%>
                    <li class="mobile-nav__item">
                    <a class="<%= path === '/admin/staff' ? 'active' : '' %>" href="/admin/staff">Quản Lý Nhân Viên</a>
                    </li>
                <%} %>
            </ul>
            <ul class="mobile-nav__item-list">
                <% if (!isAuthenticated) { %>
                <li class="mobile-nav__item">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Đăng Nhập</a>
                </li>

                <% } else { %>
                <li class="mobile-nav__item">
                <form action="/logout" method="POST">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <button type="submit">Đăng Xuất</button>
                </form>
                </li>
                <% } %>
            </ul>
        </nav>

        <div class="container">
            <div class="row ">
                <div class="col mx-auto">
                    <h3 class="title my-3">Danh sách lượt làm</h3>
                    <span class="infomation">Nhân viên: <%=staff.name%></span>
                        <% if (workTimes.length > 0) { %>
                        <table class="table table-bordered">
                            <thread class="thead-light">
                                <tr>
                                    <th>Ngày</th>
                                    <th>Giờ bắt đầu</th>
                                    <th>Giờ kết thúc</th>
                                    <th>Nơi làm việc</th>
                                    <th>Tổng giờ làm</th>
                                    <th></th>
                                </tr>
                            </thread>
                            <% workTimes.forEach(workTime => { %>
                                <tbody>
                                    <tr>
                                        <td><%= workTime.startTime.getDate() %></td>
                                        <td>
                                            <%= workTime.startTime.getHours()%>:<%=workTime.startTime.getMinutes()%>
                                        </td>
                                        <td>
                                            <% if (workTime.endTime == null) { %>
                                                Chưa kết thúc
                                            <% } else { %>
                                            <%= workTime.endTime.getHours() %>:<%=  workTime.endTime.getMinutes()%>
                                            <% } %>
                                        </td>
                                        <td>
                                            <%= workTime.workPlace==='Nhà' ? ' Nhà' : workTime.workPlace==='Công Ty'
                                            ? 'Công Ty' : 'Khách Hàng' %>
                                        </td>
                                        <td><% if (workTime.endTime === null) { %>
                                            Chưa kết thúc
                                            <% } else { %> 
                                                <%= workTime.hours %> h
                                            <% } %>
                                        </td>
                                        <td>
                                            <form action="/admin/deleteWorkTime" method="POST">
                                                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                                <input type="hidden" name="workTime" value="<%=workTime._id%>">
                                                <input type="hidden" name="staffId" value="<%=staff._id%>">
                                                <button class="btn btn-danger" type="submit">Xóa</button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            <% } )%>
                        </table>
                        <%} else{ %>
                            <h3>Chưa có lượt làm</h3>
                        <% }%>
                        <p>Số giờ đã làm thêm:       
                            <% let overtime = 0; workTimes.forEach(workTime => { %>
                                <% if (workTime.endTime === null) { %>
                                    
                                <% } else { %> 
                                <%  const hoursEnd = workTime.endTime.getHours(); %>
                                <%  const hoursStart = workTime.startTime.getHours(); %>
                                <%  const totalTimeWork = (hoursEnd* 60 + workTime.endTime.getMinutes()) - 
                                    (hoursStart*60 + workTime.startTime.getMinutes()); %>
                                <%  overtime += totalTimeWork/60 - 8 < 0 ? 0 : (totalTimeWork/60 - 8).toFixed(2) %>
                                <% } %> 
                            <% }); %>
                            <%= overtime %>
                        </p>
                            <form style="text-align:center"  action="/admin/isConfirm"
                                method="POST">
                                <button class="btn btn-success" type="submit">Xác nhận</button>
                                <input type="hidden" name="staffId" value="<%= staff._id%>">
                                <input type="hidden" name="month" value=<%= month %>>
                                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                            </form>
                        </div>                   
                        </div>
            </div>
        </div>
        <script src="/js/main.js"></script>
    </body>
</html>