<%- include('../includes/head.ejs') %>
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
>
<style>
    img{
        width: 100%;
        margin: auto;
    }
    .card{
        max-width: fit-content;
    }
</style>
    </head>
        
    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <form action="/staff-info/edit" method="POST">
                <div class="container grid">
                    <div class="card border-success col">
                        <div class="card-body text-info">
                            <p class="card-text fa fa-id-card"> <b>ID:</b> <%= staffs._id %></p><br>
                            <p class="card-text fa fa-user"> <b>Họ tên:</b> <%= staffs.name %></p><br>
                            <p class="card-text fa fa-birthday-cake"> <b>Ngày sinh:</b>
                                <%= staffs.doB.getFullYear() + "/" + staffs.doB.getMonth() + "/" + staffs.doB.getDate() %></p><br>
                            <p class="card-text fa fa-money"> <b>Hệ số lương:</b> <%= staffs.salaryScale %></p><br>
                            <p class="card-text fa fa-calendar"> <b>Ngày vào công ty:</b>
                                <%= staffs.startDate.getFullYear() + "/" + staffs.startDate.getMonth() + "/" + staffs.startDate.getDate() %></p><br>
                            <p class="card-text fa fa-tasks"> <b>Phòng ban:</b> <%= staffs.department %></p><br>
                            <p class="card-text fa fa-calendar"> <b>Số ngày phép còn lại:</b> <%= staffs.annualLeave %></p>
                        </div>
                        <img class="card-img-top" src="<%= staffs.imageUrl %>" alt="staff"><br>
                        <div>
                            <i class="fa fa-picture-o">
                                <input type="text" value="<%= staffs.imageUrl %>" name="image" />
                                <button type="submit">Chỉnh sửa</button>
                            </i>
                        </div>
                    </div>
                </div>
            </form>
        </main>
        <%- include('../includes/end.ejs') %>